name: mapext-lint-checking
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:

  lint-code:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install apt dependencies
        run: |
          sudo apt-get update

      - name: Install mapext
        run: |
          pip install .[dev]

      - name: Run ruff (flake8 and pydocstyle)
        run: ruff check .

      - name: Check code with black
        run: black --check .